{:deps {techascent/tech.ml.dataset {:mvn/version "7.030"}
        com.cnuernber/charred {:mvn/version "1.034"} ; ahead of tech.ml.datasets with a bugfix
        org.scicloj/tempfiles {:mvn/version "1-alpha3"}
        babashka/process {:mvn/version "0.5.22"}}
 :aliases {:dev {:extra-paths ["notebooks"]
                 :extra-deps {org.scicloj/clay {:mvn/version "2-beta15"}
                              org.scicloj/noj {:mvn/version "1-alpha34"}
                              scicloj/tablecloth {:mvn/version "7.029.2"}}}
           :build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}
                          slipset/deps-deploy {:mvn/version "0.2.1"}}
                   :ns-default build}
           :test {:extra-paths ["test"]
                  :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                               io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.0" :git/sha "48c3c67"}}}}}
